<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Olivia Lopez" />
    <link th:href="@{/logos/favicon16.png}" rel="shortcut icon" type="image/png">
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
    <title>Administracion</title>
</head>
<body>
    <header>
        <h1>Administración del Taller Mecánico <span class="car-theme car-icon"></span></h1>
    </header>
    <main class="container my-4">
        <section id="reservas-pendientes" class="mb-5">
            <h2>Listado de Reservas Pendientes </h2>
            <form th:action= "@{/buscadorReservas}" method="post">
           <input type="text" id="buscarMatricula" placeholder="Matrícula">
            <input type="text" id="buscarTelefono" placeholder="Teléfono"></form><a th:href=img width="24" height="24" src="https://img.icons8.com/material-rounded/24/search.png" alt="search"/></a>
            </form>
            <table >
   
                <thead>
                    
                    <tr>
    
                        <th>Fecha Entrega</th>
                        <th>Fecha Programada</th>
						<th>Matrícula Vehículo</th>
						<th>Telefono</th>
                        <th>Tipo de Trabajo</th>
                        <th>Cliente</th>
                        <th>Prioridad</th>
                        <th>Recepcionar</th>
                        <th><i class="fa-solid fa-eye"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reserva : ${reservaPendiente}">
                        <td th:text="${reserva.fechaEntrega}"></td>
                        <td th:text="${reserva.fechaProgramada}"></td>
                        <td> <a th:href="@{'/fichaCoche/'+ ${.coche.id}" th:text="${reserva.matricula}"></a></td>
                        <td th:text="${reserva.telefono}"></td>
                        <td th:text="${reserva.tipo}"></td>
                        <td th:text="${reserva.cliente}"></td>
                        <td th:text="${reserva.prioridad}"></td>
                        <td th:text="${}"><a th:href="@{'/recepcionar"  th:text="${}"></a></td>
                        <td th:text="${}"><a th:href="@{/ver/"></a></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <hr>
        <section id="entregas-pendientes">
            <h2>Listado de Entregas Pendientes </h2>
             <form th:action= "@{/buscadorEntregas}" method="post">
             <input type="text" placeholder="Matrícula">
            <input type="text" placeholder="Teléfono">
            <a th:href=img width="24" height="24" src="https://img.icons8.com/material-rounded/24/search.png" alt="search"/></a>
            </form>
            <table >
                <thead>
                    <tr>
            
                        <th>Fecha Fin</th>
						<th>Matrícula Vehículo</th>
						<th>Telefono</th>
                        <th>Tipo de Trabajo</th>
                        <th>Cliente</th>
                        <th>Entregar</th>
                        <th><i class="fa-solid fa-eye"></i>  </th>
                       
    
                       
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="trabajo : ${trabajoTerminado}">
                        <td th:text="${trabajo.fechaFin}"></td>
                        <td ><a th:href="@{'/fichaCoche/'+ ${trabajo.coche.id}" th:text="${trabajo.coche.matricula}"></a></td>
                        <td th:text="${trabajo.cliente.telefono}"></td>
                        <td th:text="${trabajo.tipoTrabajo}"></td>
                        <td th:text="${trabajo.cliente.nombre}"></td>
                        <td><a th:href="@{/entregar"></a></td>
                        <td><a th:href="@{/ver/"></a></td>
                        
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>© 2024 Taller Mecánico. Todos los derechos reservados.</p>
    </footer>
   
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}"
        crossorigin="anonymous"></script>
</body>
</html>
