<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Sonia Fernandez" />
    <link th:href="@{/logos/favicon16.png}" rel="shortcut icon" type="image/png">
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
    <title>Dashboard Taller Mecanico </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="">
    <!-- 
    <div th:insert="~{fragments :: nav}"></div>-->
    
     <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
                <img class="invert" th:src="@{/logos/logo384.png}" alt="TallerPepe">
                <a class="navbar-toggler" type="a" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" th:href="@{/reservas}">Reservas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" th:href="@{/entregas}">Entregas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" th:href="@{/piezas}">Piezas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="a" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" th:href="@{/profile}">Mi perfil</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/configuracion}">Configuración</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <a class="btn btn-outline-light" type="submit">Buscar</a>
                    </form>
                </div>
            </div>
        </nav>

    <!-- Contenedor principal -->
    <div class="container-fluid full-height text-center">
        <h1 class="my-4">DASHBOARD</h1>
          <div class="row">
                <!-- Mitad izquierda -->
                <div class="col-md-6">
                    <h2>Listado de trabajos programados</h2>
                    <!-- Formulario de búsqueda -->
                    <form action="/buscar" method="get" class="form-inline mb-3">
                        <div class="form-group">
                            <label for="matricula">Matrícula</label>
                            <input type="text" id="matricula" name="matricula" class="form-control" placeholder="Ingrese la matrícula">
                        </div>
                        <a type="submit" class="btn btn-danger">Buscar</a>
                    </form>
                    <!-- Tabla de trabajos programados -->
                    <div class="table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr th:each="trabajosHoy : ${trabajosHoy}">
                                    <th>Fecha</th>
                                    <th>Matrícula</th>
                                    <th>Mecánico</th>
                                    <th>Tipo de Trabajo</th>
                                    <th>Horas estimadas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${trabajosHoy.fechaProgramacion}">xxx</td>
                                    <td th:text="${trabajosHoy.coche}">xxx</td>
                                    <td th:text="${trabajosHoy.mecanico">xxx</td>
                                    <td th:text="${trabajosHoy.tipo">xxx</td>
                                    <td th:text="${trabajosHoy.horas">xxx</td>
                                    <td><a class="btn btn-danger">Iniciar</a></td>
                                </tr>
                                <!-- Más filas aquí -->
                                <tr>
                                    <td th:text="${trabajosHoy.fechaProgramacion}">xxx</td>
                                    <td th:text="${trabajosHoy.coche}">xxx</td>
                                    <td th:text="${trabajosHoy.mecanico">xxx</td>
                                    <td th:text="${trabajosHoy.tipo">xxx</td>
                                    <td th:text="${trabajosHoy.horas">xxx</td>
                                    <td><a class="btn btn-danger">Iniciar</a></td>
                                </tr> 
                                <tr>
                                    <td th:text="${trabajosHoy.fechaProgramacion}">xxx</td>
                                    <td th:text="${trabajosHoy.coche}">xxx</td>
                                    <td th:text="${trabajosHoy.mecanico">xxx</td>
                                    <td th:text="${trabajosHoy.tipo">xxx</td>
                                    <td th:text="${trabajosHoy.horas">xxx</td>
                                    <td><a class="btn btn-danger">Iniciar</a></td>
                                </tr> 
                                <tr>
                                    <td th:text="${trabajosHoy.fechaProgramacion}">xxx</td>
                                    <td th:text="${trabajosHoy.coche}">xxx</td>
                                    <td th:text="${trabajosHoy.mecanico">xxx</td>
                                    <td th:text="${trabajosHoy.tipo">xxx</td>
                                    <td th:text="${trabajosHoy.horas">xxx</td>
                                    <td><a class="btn btn-danger">Iniciar</a></td>
                                </tr> 
                                <tr>
                                    <td th:text="${trabajosHoy.fechaProgramacion}">xxx</td>
                                    <td th:text="${trabajosHoy.coche}">xxx</td>
                                    <td th:text="${trabajosHoy.mecanico">xxx</td>
                                    <td th:text="${trabajosHoy.tipo">xxx</td>
                                    <td th:text="${trabajosHoy.horas">xxx</td>
                                    <td><a class="btn btn-danger">Iniciar</a></td>
                                </tr>
                                <tr>
                                    <td th:text="${trabajosHoy.fechaProgramacion}">xxx</td>
                                    <td th:text="${trabajosHoy.coche}">xxx</td>
                                    <td th:text="${trabajosHoy.mecanico">xxx</td>
                                    <td th:text="${trabajosHoy.tipo">xxx</td>
                                    <td th:text="${trabajosHoy.horas">xxx</td>
                                    <td><a class="btn btn-danger">Iniciar</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Mitad derecha -->
                <div class="col-md-6">
                    <!-- Parte superior derecha -->
                    <div class="half-height">
                        <h2>Listado de trabajos en ejecución</h2>
                        <!-- Tabla de trabajos en ejecución -->
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Matrícula</th>
                                        <th>Mecánico</th>
                                        <th>Tipo de Trabajo</th>
                                        <th>Horas estimadas</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td th:text="${ejecucion.fechaProgramacion}">xxx</td>
                                    <td th:text="${ejecucion.coche}">xxx</td>
                                    <td th:text="${ejecucion.mecanico">xxx</td>
                                    <td th:text="${ejecucion.tipo">xxx</td>
                                    <td th:text="${ejecucion.horas">xxx</td>
                                        <td><a class="btn btn-danger">Terminar</a></td>
                                    </tr>
                                    <!-- Más filas aquí -->
                                    <tr>
                                    <td th:text="${ejecucion.fechaProgramacion}">xxx</td>
                                    <td th:text="${ejecucion.coche}">xxx</td>
                                    <td th:text="${ejecucion.mecanico">xxx</td>
                                    <td th:text="${ejecucion.tipo">xxx</td>
                                    <td th:text="${ejecucion.horas">xxx</td>
                                        <td><a class="btn btn-danger">Terminar</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Parte inferior derecha -->
                    <div class="half-height">
                        <h2>Listado de trabajos pendientes</h2>
                        <!-- Formulario para búsqueda específica -->
                        <form action="/buscarPendientes" method="get" class="form-inline mb-3">
                            <div class="form-group">
                                <label for="matriculaPendiente">Matrícula</label>
                                <input type="text" id="matriculaPendiente" name="matriculaPendiente" class="form-control" placeholder="Ingrese la matrícula">
                            </div>
                            <a type="submit" class="btn btn-danger">Buscar</a>
                        </form>
                        <!-- Tabla de trabajos pendientes -->
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Matrícula</th>
                                        <th>Mecánico</th>
                                        <th>Tipo de Trabajo</th>
                                        <th>Horas estimadas</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td th:text="${pendientes.fechaProgramacion}">xxx</td>
                                    <td th:text="${pendientes.coche}">xxx</td>
                                    <td th:text="${pendientes.mecanico">xxx</td>
                                    <td th:text="${pendientes.tipo">xxx</td>
                                    <td th:text="${pendientes.horas">xxx</td>
                                        <td><a class="btn btn-danger">Iniciar</a></td>
                                    </tr>
                                    <!-- Más filas aquí -->
                                    <tr>
                                    <td th:text="${pendientes.fechaProgramacion}">xxx</td>
                                    <td th:text="${pendientes.coche}">xxx</td>
                                    <td th:text="${pendientes.mecanico">xxx</td>
                                    <td th:text="${pendientes.tipo">xxx</td>
                                    <td th:text="${pendientes.horas">xxx</td>
                                        <td><a class="btn btn-danger">Iniciar</a></td>
                                    </tr>
                                    <tr>
                                    <td th:text="${pendientes.fechaProgramacion}">xxx</td>
                                    <td th:text="${pendientes.coche}">xxx</td>
                                    <td th:text="${pendientes.mecanico">xxx</td>
                                    <td th:text="${pendientes.tipo">xxx</td>
                                    <td th:text="${pendientes.horas">xxx</td>
                                        <td><a class="btn btn-danger">Iniciar</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
</body>

</html>