<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Richard Alejandro Silva" />
    <link th:href="@{/logos/favicon16.png}" rel="shortcut icon" type="image/png">
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
    <title>Piezas</title>
</head>
<body >
    <div th:insert="~{fragments :: nav}"></div>
    
    <div class="container mt-4">

    <div class="row d-flex">
        <div class="col-8">
            <h2>Listado de Trabajos en Ejecución</h2>
        </div>
        <div class=" col-4 d-flex mb-3">
            <input type="text" class="form-control me-2" placeholder="Matrícula">
            <button class="btn btn-primary">Buscar</button>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Fecha Entrega</th>
                <th>Fecha Programa</th>
                <th>Matrícula</th>
                <th>Teléfono</th>
                <th>Tipo de Trabajo</th>
                <th>Cliente</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>
                    <input type="radio" class="justify-content-center" id="trabajoChoice" name="" value="" />
                </td>
            </tr>
            <tr>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>
                    <input type="radio" class="justify-content-center" id="trabajoChoice" name="" value="" />
                </td>
            </tr>
            <tr>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>
                    <input type="radio" class="justify-content-center" id="trabajoChoice" name="" value="" />
                </td>
            </tr>
            <tr>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>
                    <input type="radio" class="justify-content-center" id="trabajoChoice" name="" value="" />
                </td>
            </tr>
        </tbody>
    </table>

   
    <h2>Listado de Piezas</h2>
    <div class="d-flex mb-3">
        <input type="text" class="form-control me-2" placeholder="Código">
        <input type="text" class="form-control me-2" placeholder="Nombre">
        <button class="btn btn-primary">Buscar</button>
    </div>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Coste</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>
                    <input type="radio" class="justify-content-center" id="piezaChoice" name="" value="" />
                </td>
            </tr>
            <tr>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>
                    <input type="radio" class="justify-content-center" id="piezaChoice" name="" value="" />
                </td>
            </tr>
            <tr>
                <td>XXX</td>
                <td>XXX</td>
                <td>XXX</td>
                <td>
                    <input type="radio" class="justify-content-center" id="piezaChoice" name="" value="" />
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="d-flex mb-3">
                <input type="number" class="form-control me-2" placeholder="Cantidad">
                <button class="btn btn-success">Añadir Pieza</button>
            </div>
        </div>
    </div>

</div>

    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}"
        crossorigin="anonymous"></script>
</body>

</html>